@use './_colors' as *;
@use './animation' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
	font-size: 1.2rem;
}

.logo {
	position: relative;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 100;
}

.logo-active {
	opacity: 1;
}

.logo-img {
	position: fixed;
	top: 1rem;
	left: 1rem;
	height: 8rem;
	background-image: cover;
	border-radius: 50%;
	box-shadow: 0 0 10px $main-color;
	z-index: 50;
}

.wrapper {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 1000px;
}

section {
	padding-bottom: 4rem;
}

.section-title {
	position: relative;
	margin: auto;
	padding: 4rem 0 0.5rem 0;
	font-size: 2rem;
	color: black;
	font-weight: bold;
	text-align: center;
	width: fit-content;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 4rem;
	width: 6rem;
	height: 0.4rem;
	background-color: $main-color;
}

// nav

.nav-desktop {
	display: none;
}

.nav-mobile {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background: $nav-color;
	z-index: 20;
}

.nav-active {
	transform: translateX(0);
}

.nav-item {
	position: relative;
	display: block;
	padding: 1rem 0;
	font-size: 2rem;
	color: $main-color;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: transform 0.3s;
}

.nav-item::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: $main-color;
	transform: scaleX(0);
	transition: transform 0.3s;
}

.nav-item:hover::after {
	transform: scaleX(1);
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.burger-btn {
	position: fixed;
	top: 0;
	right: 0.5rem;
	padding: 0.5em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 4rem;
	color: $main-color;
	z-index: 30;
}

// header

header {
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	background-image: url('../img/zdj3.jpg');
	background-position: right;
	background-size: cover;
	color: $main-color;
}

.slide-bottom {
	position: absolute;
	bottom: 12rem;
	right: 3rem;
	font-size: 3rem;
	color: $main-color;
	cursor: default;

	-webkit-animation: slide-bottom 1.5s ease-in-out infinite both;
	animation: slide-bottom 1.5s ease-in-out infinite both;
}

.header-items,
.header-text {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.header-text {
	position: absolute;
	text-align: center;
	max-width: 55vw;
	margin: auto 2rem;
	color: $main-color;

	h2 {
		display: flex;
		font-size: 3.5rem;
		margin-bottom: 1.5rem;
	}
	p {
		display: flex;
		margin-bottom: 1.5rem;
	}
}

// about

.about-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-img {
	margin-bottom: 1rem;
}

.about-portrait {
	box-shadow: 0 0 10px $main-color;
	height: 30vh;
	// border-radius: 10px;
}

.about-text {
	margin: 4rem;
	text-align: justify;

	p {
		margin-bottom: 1rem;
	}
}

// education & experience

.education {
	background-color: $background-color;
	box-shadow: 0 0 5px $main-color;
}

.timeline {
	position: relative;
	width: 100%;

	ul {
		display: flex;
		flex-direction: column;
		margin: 0 2.5rem;
		list-style: none;
	}

	&__right,
	&__left {
		position: relative;
		text-align: right;
		margin-bottom: 2rem;
		padding: 0.5rem;
		width: 50%;
	}

	&__right {
		border-radius: 8px;
		background-color: $light-purple;

		p {
			margin-bottom: 0.3rem;
		}

		ul {
			margin: 0;
		}
	}

	&__title {
		font-size: 1.5rem;
		font-weight: bold;
	}

	&__right::after,
	&__left::after {
		position: absolute;
		top: calc(50% - 5px);
		width: 10px;
		height: 10px;
		background-color: $main-color;
		border-radius: 50%;
		content: '';
	}

	.timeline__title::after {
		width: 20px;
		height: 4px;
		right: -30px;
		top: calc(50% - 2px);
		border-radius: 0;
	}

	&__right {
		align-self: flex-end;
		text-align: left;
		transform: translateX(20px);
		border: 1px solid $main-color;
		box-shadow: 0 0 5px $main-color;
	}

	&__right::after {
		left: -26px;
	}

	&__left {
		transform: translateX(-20px);
	}

	&__left::after {
		right: -25px;
	}
}

.timeline::before {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 2px;
	height: 100%;
	background-color: $main-color;
	content: '';
}

// skills

.skills__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills__heading {
	font-size: 1.7rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.skills__boxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills__box {
	padding: 1.2rem;
	text-align: center;

	ul {
		display: inline-block;
		font-size: 1.2rem;

		li {
			display: inline-block;
			padding: 0.5rem;
			box-shadow: 0 0 5px $main-color;
			border-radius: 8px;
			transition: color 0.3s, background 0.3s;
			background-color: $light-purple;
			margin: 0.3rem;
			transition: scale 0.3s, box-shadow 0.3s;
		}

		li:hover {
			box-shadow: 0 0 8px 2px rgb(35, 25, 66);
			scale: 1.1;
		}
	}
}

.skills__img {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 70%;
		margin: 4rem auto;
	}
}

.skills__soft {
	text-align: center;
	padding: 1.2rem;
	width: 100%;
	height: 100%;

	.soft__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.soft__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		padding: 0.5rem;
		background-color: $superlight-purple;
		margin: 0.5rem;
		box-shadow: 0 0 5px $main-color;
		transition: scale 0.3s, box-shadow 0.3s;
	}

	.soft__item:hover {
		box-shadow: 0 0 8px 2px rgb(35, 25, 66);
		scale: 0.9;
	}

	.carousel {
		margin: 0 2rem;
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		border: none;
		background-color: transparent;
		font-size: 3rem;
		color: $main-color;
	}
	.slick-prev {
		left: -20px;
	}

	.slick-next {
		right: -20px;
	}
}

//interests

.interests {
	background-color: $background-color;
	box-shadow: 0 0 5px $main-color;

	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__card {
		position: relative;
		margin: 2rem auto;
		width: 70%;
		max-width: 35rem;
		height: 35rem;
		perspective: 800px;
		cursor: pointer;
	}

	&__img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		box-shadow: 0 0 10px $main-color;
		transition: 0.8s;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 3rem;
		background-image: linear-gradient(315deg, #fee2f8 0%, $background-color 74%);
		border-radius: 15px;
		transition: 0.8s;
		opacity: 0;
		text-align: center;

		h3 {
			font-size: 1.5rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
			font-weight: bold;
		}
	}

	.one {
		background-image: url('../img/taniec.jpg');
	}

	.two {
		background-image: url('../img/nauczanei.jpg');
		background-position: right;
	}

	.three {
		background-image: url('../img/stronki.jpg');
		background-position: right;
	}

	.text-butterfly {
		transform: rotateY(-180deg);
	}
}

.interests__card:hover .interests__text {
	transform: rotate(0);
	opacity: 1;
}

.interests__card:hover .butterfly {
	transform: rotateY(-180deg);
}

// curiosities

.curiosities {
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__card {
		position: relative;
		margin: 2rem auto;
		width: 20rem;
		height: 20rem;
		max-width: 40rem;
		perspective: 800px;
		cursor: pointer;
	}

	&__card--left::after, &__card--right::after {
		position: absolute;
	top: 2px;
	display: block;
	width: 2px;
	height: 30%;
	background-color: $main-color;
	box-shadow: 0 0 10px $main-color;
	content: '';
	}

	&__card--left::after {
	left: -30px;
	}
	
	&__card--right::after {
		right: -30px;
		}

	&__img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		box-shadow: 0 0 10px $main-color;
		transition: 0.8s;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 3rem;
		background-image: linear-gradient(315deg, #fee2f8 20%, $background-color 74%);
		border-radius: 15px;
		transition: 0.8s;
		opacity: 0;
		text-align: center;

		h3 {
			font-size: 1.5rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
		}
	}

	.img-one {
		background-image: url('../img/paczki.jpg');
	}
	.img-two {
		background-image: url('../img/plywanie.jpg');
	}
	.img-three {
		background-image: url('../img/orientacja.jpg');
	}

	.text-tas {
		transform: rotateX(-180deg);
	}
}

.curiosities__card:hover .curiosities__text {
	transform: rotate(0);
	opacity: 1;
}

.curiosities__card:hover .tas {
	transform: rotateX(180deg);
}

// CV

.cv {
	background-color: $background-color;
	box-shadow: 0 0 5px $main-color;
}

.cv-box {
	position: relative;
}

.cv-background {
	position: absolute;
	left: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;

	p {
		font-size: 5rem;
		rotate: -20deg;
		color: rgb(187, 187, 187);
	}
}

.cv-img {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 40%;
	}
}

// contact

.contact__boxes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact__box {
	margin-bottom: 2rem;

	h3 {
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-bottom: 0.7rem;
	}

	a {
		font-size: 3rem;
		color: $main-color;
		margin: 0 1rem;
		transition: color 0.3s;
	}

	a:hover {
		color: $background-color;
	}
}

//footer

.footer {
	padding: 1em 1em;
	box-shadow: 0 0 10px $main-color;
	text-align: center;
	background-color: $background-color;

	&__year {
		padding: 0 1em;
	}
}

@media (min-width: 576px) {
	.section-title {
		font-size: 2.5rem;
	}

	.header-items {
		align-items: end;
	}
	
	.header-text {
		justify-content: start;
		top: 20%;
		text-align: center;
		max-width: 40vw;
		margin: auto 3rem;
		color: $main-color;

		h2 {
			font-size: 3.8rem;
		}
		p {
			font-size: 1.5rem;
		}
	}

	.about-text {
		font-size: 1.5rem;
	}

	.timeline {
		font-size: 1.5rem;

		&__title {
			font-size: 1.7rem;
		}
		ul {
			display: flex;
			flex-direction: column;
			margin: 0 4rem;
			list-style: none;
		}
		&__right {
			border-radius: 8px;
			box-shadow: 5px 5px 10px $main-color;

			ul {
				margin: 0;
			}
		}
	}

	.skills__box {
		ul {
			font-size: 1.5rem;
		}
	}

	.soft__items {
		font-size: 1.5rem;
	}

	.skills__soft {
		// max-width: 60rem;

		.soft__item {
			width: 15rem;
			height: 15rem;
		}
	}

	.interests__card {
		font-size: 1.5rem;
		height: 40rem;

		h3 {
			font-size: 1.7rem;
		}
	}

	.curiosities__text {
		P {
			font-size: 1.5rem;
		}
		h3 {
			font-size: 1.7rem;
		}
	}

	.curiosities {
		&__card {
			width: 30rem;
			height: 30rem;
			margin: 1rem;
		}
	}

	.contact__box {
		h3 {
			margin-top: 3rem;
		}

		p {
			font-size: 1.5rem;
		}
	}

	.footer {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) {
	.section-title {
		font-size: 3rem;
	}

	.slide-bottom {
		bottom: 10rem;
		right: 4rem;
		font-size: 4rem;
	}

	.nav-mobile,
	.burger-mobile {
		display: none;
	}

	.nav-desktop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		height: 6rem;
		// background-color: rgba(190, 149, 196, 0.8);
		background-color: transparent;
		transition: background-color 0.5s;
		box-shadow: 0 0 10px $main-color;
		z-index: 50;

		.nav-items {
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
			margin: 1.5rem;

			.nav-item {
				margin: auto 2rem;
				padding: 0.5rem;
			}
		}
	}

	.header-items {
		align-items: end;
		max-width: 30wh;
	}

	.header-text {
		max-width: 55vw;

		h2 {
			display: flex;
			font-size: 3.5rem;
			margin-bottom: 1.5rem;
		}
		p {
			display: flex;
			font-size: 1.7rem;
			max-width: 35vw;
			margin-bottom: 1.5rem;
		}
	}

	.about-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.about-img,
	.about-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.timeline {
		font-size: 1.7rem;

		&__title {
			font-size: 1.7rem;
		}

		&__right {
			p {
				margin-bottom: 0.5rem;
			}
		}
	}

	.skills__box {
		ul {
			font-size: 1.7rem;
		}
	}

	.skills__section {
		flex-direction: column;
	}

	.skills__boxes {
		display: flex;
		flex-direction: row;
	}

	.skills__soft {
		margin: 4rem auto;
	}

	.soft__items {
		font-size: 1.7rem;
	}

	.skills__soft {
		.soft__item {
			width: 15rem;
			height: 15rem;
		}
	}

	.interests__cards {
		flex-direction: row;
	}

	.interests__card {
		font-size: 1.5rem;
		margin: auto 1rem;
		h3 {
			font-size: 2rem;
		}
	}

	.card {
		max-width: 32rem;
	}

	.curiosities {
		&__cards {
			flex-direction: row;
			font-size: 1.7rem;
			h3 {
				font-size: 2rem;
			}
		}

		&__card--left::after, &__card--right::after {
			display: none;
		}
	}

	.contact-top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.contact-name,
	.contact-details {
		max-width: 40%;
		margin: 0 auto;
	}

	.contact__box {
		margin: 2rem;
	}

	.contact__box {
		h3 {
			font-size: 1.7rem;
			margin-top: 2.5rem;
		}

		p {
			font-size: 1.7rem;
			margin-bottom: 0.5rem;

			span {
				font-weight: bold;
			}
		}

		a {
			font-size: 4rem;
			color: $main-color;
			margin: 0 1rem;
			transition: color 0.3s;
		}

		a:hover {
			color: $background-color;
		}
	}
	.footer {
		font-size: 1.7rem;
	}
}

@media (min-width: 992px) {
.header-text {
	max-width: 25vw;
}
}